log
m4
.settings

Debug
.cproject
.project

Makefile
Makefile.in

aclocal.m4
*.log

configure
config.status
depcomp
install-sh
libtool

*.guess

missing

.deps
.dirstamp

*.o

shave
shave-libtool

rebindr

*cache*

m4/config.sub
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/ltmain.sh
